body {
    background-color: #222;
    display: flex;
}

#middle {
    margin: 200px auto;
    color: #222;
    background-color: #CCC;
    border-radius: 32px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    cursor: pointer;
    height: 400px;
}

.letter {
    width: 400px;
    font-size: 200px;
}

.word {
    min-width: 40%;
    font-size: 6em;
    padding:32px;
}

#menu {
    /* flex: */
    background-color: #2d2830;
    color: #CCC;
    width: 320px;
    height: 100vh;
}

.lang-box {
    padding-left: 8px;
}

.lang-button {
    background-color: #CCC;
    color: #222;
    margin: 8px;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

.lang-button:hover {
    background-color: #EEE;
}

.active-lang {
    background-color: #bae0ff;
}

.active-lang:hover {
    background-color: #a1d5ff;
}